body{
   
    color:white;
    background-image: 
    
}
#backgroundImage{
    background-image: url("../images/water.jpg");
    background-size: cover;
    height: 100vh;

    

}

#backgroundColor{
    height:100vh;
    background-color: rgba(214,31,199,0.5);

}